/* Open Sans font add*/
body {
    font-family: 'Open Sans', sans-serif;
}

/*--------------------------- Header + Banner Section Style----------------------*/
.header {
    /* width: 1920px;
    height: 850px; */
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    padding: 50px 240px 0px 240px;
    align-items: center;
    justify-content: space-between;
    gap: 97PX;
}

.banner-img {
    width: 635px;
    height: 800px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    width: 800px;
    margin-bottom: 32px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 32px;
    width: 634px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/*--------------------------------Main Section Style----------------------------*/
main {
    max-width: 1920px;
    margin: 0 auto;
}

/* --------------------First Section Style---------------------- */

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;
    margin-bottom: 24px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 48px;
    /* width: 594px; */
}

.first-section-container {
    display: flex;
    /* margin-left: 240PX; */
    justify-content: center;
    gap: 24px;
}

.pink-section-img {
    border-radius: 300px 300px 0px 0px;
    background: #A7216226;
    padding: 110px 78px 0px 76px;
    width: 310px;
    height: 428px;
}

.sky-section-img {
    border-radius: 300px 300px 0px 0px;
    background: #0597A026;
    padding: 110px 78px 0px 76px;
    width: 310px;
    height: 428px;
}

.gree-section-img {
    border-radius: 300px 300px 0px 0px;
    background: #477D1126;
    padding: 110px 78px 0px 76px;
    width: 310px;
    height: 428px;
}

.sub-title {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* --------------------Second Section Style---------------------------- */
.second-section-container {
    padding: 87px 175px;
    display: flex;
    gap: 100px;
    border-radius: 8px;
    background: #2727270D;
    margin: 128px 225px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

/*---------------------------- Hot-Deal Section Style----------------------------- */

.hot-deal-section {
    display: flex;
    border-radius: 8px;
    background-color: #E554730D;
    padding: 230px 429px 100px 395px;
    align-items: center;
    gap: 186px;
    margin-top: 128px;
}

.hot-deal-section-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
}

.hot-deal-color-title {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

.hot-deal-section-description {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/*----------------------------------- Instagram Section Style------------------------------- */
.instagram-section {
    align-items: center;
    margin: 128px 240px;
    justify-content: center;
}

.instagram-section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.instagram-section-description {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 48px;
}

.instagram-section-img {
    display: flex;
    margin-top: 0px;
    gap: 24px;

}

/* ------------------------Get Latest Deals Section Style----------------------------- */
.get-deals-section {
    margin: 128px 240px 0px 240px;
    position: relative;
    text-align: center;
    align-items: center;
}

.get-deals-section-title {
    position: absolute;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    top: 122px;
    left: 510px;
    bottom: 279px;
}

.get-deals-section-description {
    position: absolute;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    top: 200px;
    left: 600px;
}

.get-deals-input-btn {
    position: absolute;
    display: flex;
    gap: 16px;
    top: 284px;
    left: 250px;
}

.get-deals-input {
    width: 700px;
    height: 64px;
    border: 0;
    border-radius: 8px;
    background: #ffffff;
    padding: 0px 22px;
    color: #27272799;
}

/*--------------------------------Footer section Style------------------------------------*/
.footer-section {
    background-color: #111010;
    width: 1922px;
    height: 200px;
    padding: 128px 0px;
    margin-top: 128px;
}


.footer-title {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-bottom: 24px;
}

.footer-shop-color {
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.footer-description {
    color: #FFFFFFE5;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 24px;
}

.copyright {
    color: #FFFFFF66;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
}